# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on one-to-many and many-to-many relationships!

## Objectives

You will be able to:
- Query data using one-to-many and many-to-many joins
- Predict the resulting size of one-to-many and many-to-many joins

## One-to-Many and Many-to-Many Joins
<img src='images/Database-Schema.png' width="600">

## Connect to the Database

In [2]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
c = conn.cursor()

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [3]:
c.execute("""SELECT firstName, lastName, city, state
FROM employees
LEFT JOIN offices
USING(officeCode)
ORDER BY firstName, lastName""").fetchall()

[('Andy', 'Fixter', 'Sydney', ''),
 ('Anthony', 'Bow', 'San Francisco', 'CA'),
 ('Barry', 'Jones', 'London', ''),
 ('Diane', 'Murphy', 'San Francisco', 'CA'),
 ('Foon Yue', 'Tseng', 'NYC', 'NY'),
 ('George', 'Vanauf', 'NYC', 'NY'),
 ('Gerard', 'Bondur', 'Paris', ''),
 ('Gerard', 'Hernandez', 'Paris', ''),
 ('Jeff', 'Firrelli', 'San Francisco', 'CA'),
 ('Julie', 'Firrelli', 'Boston', 'MA'),
 ('Larry', 'Bott', 'London', ''),
 ('Leslie', 'Jennings', 'San Francisco', 'CA'),
 ('Leslie', 'Thompson', 'San Francisco', 'CA'),
 ('Loui', 'Bondur', 'Paris', ''),
 ('Mami', 'Nishi', 'Tokyo', 'Chiyoda-Ku'),
 ('Martin', 'Gerard', 'Paris', ''),
 ('Mary', 'Patterson', 'San Francisco', 'CA'),
 ('Pamela', 'Castillo', 'Paris', ''),
 ('Peter', 'Marsh', 'Sydney', ''),
 ('Steve', 'Patterson', 'Boston', 'MA'),
 ('Tom', 'King', 'Sydney', ''),
 ('William', 'Patterson', 'Sydney', ''),
 ('Yoshimi', 'Kato', 'Tokyo', 'Chiyoda-Ku')]

## Customers and their Orders (a One-to-Many join)

Return a list of all the customers first and last names along with a record for each of their order numbers, order dates and statuses.

In [6]:
c.execute("""SElECT contactFirstName, contactLastName, orderDate, orderNumber, status
            FROM customers
            LEFT JOIN orders
            USING(customerNumber)""").fetchall()

[('Carine ', 'Schmitt', '2003-05-20', '10123', 'Shipped'),
 ('Carine ', 'Schmitt', '2004-09-27', '10298', 'Shipped'),
 ('Carine ', 'Schmitt', '2004-11-25', '10345', 'Shipped'),
 ('Jean', 'King', '2003-05-21', '10124', 'Shipped'),
 ('Jean', 'King', '2004-08-06', '10278', 'Shipped'),
 ('Jean', 'King', '2004-11-29', '10346', 'Shipped'),
 ('Peter', 'Ferguson', '2003-04-29', '10120', 'Shipped'),
 ('Peter', 'Ferguson', '2003-05-21', '10125', 'Shipped'),
 ('Peter', 'Ferguson', '2004-02-20', '10223', 'Shipped'),
 ('Peter', 'Ferguson', '2004-11-24', '10342', 'Shipped'),
 ('Peter', 'Ferguson', '2004-11-29', '10347', 'Shipped'),
 ('Janine ', 'Labrune', '2004-07-23', '10275', 'Shipped'),
 ('Janine ', 'Labrune', '2004-10-29', '10315', 'Shipped'),
 ('Janine ', 'Labrune', '2005-02-03', '10375', 'Shipped'),
 ('Janine ', 'Labrune', '2005-05-31', '10425', 'In Process'),
 ('Jonas ', 'Bergulfsen', '2003-01-29', '10103', 'Shipped'),
 ('Jonas ', 'Bergulfsen', '2003-10-10', '10158', 'Shipped'),
 ('Jonas ', 'Bergulfsen', '2004-10-15', '10309', 'Shipped'),
 ('Jonas ', 'Bergulfsen', '2004-11-05', '10325', 'Shipped'),
 ('Susan', 'Nelson', '2003-03-26', '10113', 'Shipped'),
 ('Susan', 'Nelson', '2003-07-02', '10135', 'Shipped'),
 ('Susan', 'Nelson', '2003-08-08', '10142', 'Shipped'),
 ('Susan', 'Nelson', '2003-11-12', '10182', 'Shipped'),
 ('Susan', 'Nelson', '2004-03-11', '10229', 'Shipped'),
 ('Susan', 'Nelson', '2004-07-20', '10271', 'Shipped'),
 ('Susan', 'Nelson', '2004-08-20', '10282', 'Shipped'),
 ('Susan', 'Nelson', '2004-10-21', '10312', 'Shipped'),
 ('Susan', 'Nelson', '2004-11-19', '10335', 'Shipped'),
 ('Susan', 'Nelson', '2004-12-10', '10357', 'Shipped'),
 ('Susan', 'Nelson', '2005-01-19', '10368', 'Shipped'),
 ('Susan', 'Nelson', '2005-01-23', '10371', 'Shipped'),
 ('Susan', 'Nelson', '2005-02-17', '10382', 'Shipped'),
 ('Susan', 'Nelson', '2005-02-28', '10385', 'Shipped'),
 ('Susan', 'Nelson', '2005-03-04', '10390', 'Shipped'),
 ('Susan', 'Nelson', '2005-03-23', '10396', 'Shipped'),
 ('Susan', 'Nelson', '2005-05-29', '10421', 'In Process'),
 ('Zbyszek ', 'Piestrzeniewicz', None, None, None),
 ('Roland', 'Keitel', '2003-01-09', '10101', 'Shipped'),
 ('Roland', 'Keitel', '2004-03-15', '10230', 'Shipped'),
 ('Roland', 'Keitel', '2003-10-04', '10300', 'Shipped'),
 ('Roland', 'Keitel', '2004-11-05', '10323', 'Shipped'),
 ('Julie', 'Murphy', '2003-03-25', '10111', 'Shipped'),
 ('Julie', 'Murphy', '2003-12-01', '10201', 'Shipped'),
 ('Julie', 'Murphy', '2004-11-18', '10333', 'Shipped'),
 ('Kwai', 'Lee', '2003-02-24', '10107', 'Shipped'),
 ('Kwai', 'Lee', '2004-05-07', '10248', 'Cancelled'),
 ('Kwai', 'Lee', '2004-09-08', '10292', 'Shipped'),
 ('Kwai', 'Lee', '2004-11-15', '10329', 'Shipped'),
 ('Diego ', 'Freyre', '2003-01-31', '10104', 'Shipped'),
 ('Diego ', 'Freyre', '2003-06-06', '10128', 'Shipped'),
 ('Diego ', 'Freyre', '2003-06-27', '10133', 'Shipped'),
 ('Diego ', 'Freyre', '2003-09-28', '10153', 'Shipped'),
 ('Diego ', 'Freyre', '2003-10-08', '10156', 'Shipped'),
 ('Diego ', 'Freyre', '2003-11-19', '10190', 'Shipped'),
 ('Diego ', 'Freyre', '2003-12-02', '10203', 'Shipped'),
 ('Diego ', 'Freyre', '2003-12-03', '10205', 'Shipped'),
 ('Diego ', 'Freyre', '2004-01-16', '10212', 'Shipped'),
 ('Diego ', 'Freyre', '2004-04-29', '10244', 'Shipped'),
 ('Diego ', 'Freyre', '2004-05-05', '10246', 'Shipped'),
 ('Diego ', 'Freyre', '2004-06-24', '10262', 'Cancelled'),
 ('Diego ', 'Freyre', '2004-08-09', '10279', 'Shipped'),
 ('Diego ', 'Freyre', '2004-10-16', '10311', 'Shipped'),
 ('Diego ', 'Freyre', '2004-12-02', '10350', 'Shipped'),
 ('Diego ', 'Freyre', '2004-12-07', '10355', 'Shipped'),
 ('Diego ', 'Freyre', '2004-12-10', '10358', 'Shipped'),
 ('Diego ', 'Freyre', '2005-02-10', '10378', 'Shipped'),
 ('Diego ', 'Freyre', '2005-02-10', '10379', 'Shipped'),
 ('Diego ', 'Freyre', '2005-02-16', '10380', 'Shipped'),
 ('Diego ', 'Freyre', '2005-02-22', '10383', 'Shipped'),
 ('Diego ', 'Freyre', '2005-03-01', '10386', 'Resolved'),
 ('Diego ', 'Freyre', '2005-03-15', '10394', 'Shipped'),
 ('Diego ', 'Freyre', '2005-05-03', '10412', 'Shipped'),
 ('Diego ', 'Freyre', '2005-05-13', '10417', 'Disputed'),
 ('Diego ', 'Freyre', '2005-05-31', '10424', 'In Process'),
 ('Christina ', 'Berglund', '2003-03-24', '10112', 'Shipped'),
 ('Christina ', 'Berglund', '2004-11-03', '10320', 'Shipped'),
 ('Christina ', 'Berglund', '2004-11-09', '10326', 'Shipped'),
 ('Christina ', 'Berglund', '2004-11-19', '10334', 'On Hold'),
 ('Jytte ', 'Petersen', '2003-02-11', '10105', 'Shipped'),
 ('Jytte ', 'Petersen', '2004-04-09', '10238', 'Shipped'),
 ('Jytte ', 'Petersen', '2004-06-08', '10256', 'Shipped'),
 ('Jytte ', 'Petersen', '2004-11-10', '10327', 'Resolved'),
 ('Jytte ', 'Petersen', '2005-04-15', '10406', 'Disputed'),
 ('Mary ', 'Saveley', '2003-11-25', '10194', 'Shipped'),
 ('Mary ', 'Saveley', '2004-01-02', '10208', 'Shipped'),
 ('Mary ', 'Saveley', '2004-03-02', '10227', 'Shipped'),
 ('Eric', 'Natividad', '2003-04-16', '10117', 'Shipped'),
 ('Eric', 'Natividad', '2003-09-19', '10150', 'Shipped'),
 ('Eric', 'Natividad', '2003-10-22', '10165', 'Shipped'),
 ('Eric', 'Natividad', '2004-08-04', '10277', 'Shipped'),
 ('Eric', 'Natividad', '2005-03-02', '10387', 'Shipped'),
 ('Jeff', 'Young', '2003-06-03', '10127', 'Shipped'),
 ('Jeff', 'Young', '2003-12-02', '10204', 'Shipped'),
 ('Jeff', 'Young', '2004-07-07', '10267', 'Shipped'),
 ('Jeff', 'Young', '2004-12-01', '10349', 'Shipped'),
 ('Kelvin', 'Leong', '2004-07-20', '10272', 'Shipped'),
 ('Kelvin', 'Leong', '2004-08-19', '10281', 'Shipped'),
 ('Kelvin', 'Leong', '2004-11-02', '10318', 'Shipped'),
 ('Kelvin', 'Leong', '2005-05-30', '10422', 'In Process'),
 ('Juri', 'Hashimoto', '2003-07-24', '10140', 'Shipped'),
 ('Juri', 'Hashimoto', '2003-10-28', '10168', 'Shipped'),
 ('Juri', 'Hashimoto', '2004-11-02', '10317', 'Shipped'),
 ('Juri', 'Hashimoto', '2005-01-05', '10362', 'Shipped'),
 ('Wendy', 'Victorino', '2004-02-04', '10217', 'Shipped'),
 ('Wendy', 'Victorino', '2004-06-15', '10259', 'Shipped'),
 ('Wendy', 'Victorino', '2004-09-01', '10288', 'Shipped'),
 ('Wendy', 'Victorino', '2005-04-23', '10409', 'Shipped'),
 ('Veysel', 'Oeztan', '2003-11-12', '10181', 'Shipped'),
 ('Veysel', 'Oeztan', '2003-11-18', '10188', 'Shipped'),
 ('Veysel', 'Oeztan', '2004-09-03', '10289', 'Shipped'),
 ('Keith', 'Franco', None, None, None),
 ('Isabel ', 'de Castro', None, None, None),
 ('Martine ', 'Rancé', '2003-11-11', '10180', 'Shipped'),
 ('Martine ', 'Rancé', '2004-02-21', '10224', 'Shipped'),
 ('Marie', 'Bertrand', '2003-04-01', '10114', 'Shipped'),
 ('Marie', 'Bertrand', '2004-08-28', '10286', 'Shipped'),
 ('Marie', 'Bertrand', '2004-11-20', '10336', 'Shipped'),
 ('Jerry', 'Tseng', '2004-03-10', '10228', 'Shipped'),
 ('Jerry', 'Tseng', '2004-05-08', '10249', 'Shipped'),
 ('Julie', 'King', '2003-11-05', '10172', 'Shipped'),
 ('Julie', 'King', '2004-06-28', '10263', 'Shipped'),
 ('Julie', 'King', '2005-05-05', '10413', 'Shipped'),
 ('Mory', 'Kentary', '2004-01-12', '10210', 'Shipped'),
 ('Mory', 'Kentary', '2004-04-13', '10240', 'Shipped'),
 ('Michael', 'Frick', '2003-01-10', '10102', 'Shipped'),
 ('Michael', 'Frick', '2004-04-05', '10237', 'Shipped'),
 ('Michael', 'Frick', '2004-11-05', '10324', 'Shipped'),
 ('Matti', 'Karttunen', '2003-10-06', '10155', 'Shipped'),
 ('Matti', 'Karttunen', '2004-09-30', '10299', 'Shipped'),
 ('Matti', 'Karttunen', '2005-02-09', '10377', 'Shipped'),
 ('Rachel', 'Ashworth', '2003-03-18', '10110', 'Shipped'),
 ('Rachel', 'Ashworth', '2004-10-14', '10306', 'Shipped'),
 ('Rachel', 'Ashworth', '2004-11-17', '10332', 'Shipped'),
 ('Dean', 'Cassidy', '2004-02-12', '10220', 'Shipped'),
 ('Dean', 'Cassidy', '2004-09-16', '10297', 'Shipped'),
 ('Leslie', 'Taylor', '2003-06-16', '10130', 'Shipped'),
 ('Leslie', 'Taylor', '2004-09-07', '10290', 'Shipped'),
 ('Leslie', 'Taylor', '2004-12-03', '10352', 'Shipped'),
 ('Elizabeth', 'Devon', '2004-06-01', '10253', 'Cancelled'),
 ('Elizabeth', 'Devon', '2003-10-06', '10302', 'Shipped'),
 ('Elizabeth', 'Devon', '2005-04-08', '10403', 'Shipped'),
 ('Yoshi ', 'Tamuri', '2003-12-05', '10206', 'Shipped'),
 ('Yoshi ', 'Tamuri', '2004-10-22', '10313', 'Shipped'),
 ('Miguel', 'Barajas', '2004-08-02', '10276', 'Shipped'),
 ('Miguel', 'Barajas', '2004-09-10', '10294', 'Shipped'),
 ('Julie', 'Young', '2003-08-25', '10145', 'Shipped'),
 ('Julie', 'Young', '2003-11-18', '10189', 'Shipped'),
 ('Julie', 'Young', '2005-01-12', '10367', 'Resolved'),
 ('Brydey', 'Walker', None, None, None),
 ('Frédérique ', 'Citeaux', '2004-04-13', '10241', 'Shipped'),
 ('Frédérique ', 'Citeaux', '2004-06-04', '10255', 'Shipped'),
 ('Frédérique ', 'Citeaux', '2005-04-14', '10405', 'Shipped'),
 ('Mike', 'Gao', '2003-11-15', '10187', 'Shipped'),
 ('Mike', 'Gao', '2003-12-01', '10200', 'Shipped'),
 ('Eduardo ', 'Saavedra', '2003-04-21', '10118', 'Shipped'),
 ('Eduardo ', 'Saavedra', '2003-11-26', '10197', 'Shipped'),
 ('Eduardo ', 'Saavedra', '2004-11-24', '10340', 'Shipped'),
 ('Mary', 'Young', '2003-10-02', '10154', 'Shipped'),
 ('Mary', 'Young', '2005-02-08', '10376', 'Shipped'),
 ('Horst ', 'Kloss', None, None, None),
 ('Palle', 'Ibsen', '2003-10-17', '10161', 'Shipped'),
 ('Palle', 'Ibsen', '2004-10-22', '10314', 'Shipped'),
 ('Jean ', 'Fresnière', '2003-11-05', '10171', 'Shipped'),
 ('Jean ', 'Fresnière', '2004-06-17', '10261', 'Shipped'),
 ('Jean ', 'Fresnière', '2005-05-01', '10411', 'Shipped'),
 ('Alejandra ', 'Camino', None, None, None),
 ('Valarie', 'Thompson', '2004-02-19', '10222', 'Shipped'),
 ('Valarie', 'Thompson', '2004-02-26', '10226', 'Shipped'),
 ('Helen ', 'Bennett', '2004-03-20', '10232', 'Shipped'),
 ('Helen ', 'Bennett', '2004-11-01', '10316', 'Shipped'),
 ('Annette ', 'Roulet', '2003-07-04', '10136', 'Shipped'),
 ('Annette ', 'Roulet', '2003-11-08', '10178', 'Shipped'),
 ('Annette ', 'Roulet', '2005-03-28', '10397', 'Shipped'),
 ('Renate ', 'Messner', None, None, None),
 ('Paolo ', 'Accorti', '2004-08-17', '10280', 'Shipped'),
 ('Paolo ', 'Accorti', '2004-09-09', '10293', 'Shipped'),
 ('Daniel', 'Da Silva', '2003-07-01', '10134', 'Shipped'),
 ('Daniel', 'Da Silva', '2004-12-09', '10356', 'Shipped'),
 ('Daniel', 'Da Silva', '2005-03-17', '10395', 'Shipped'),
 ('Daniel ', 'Tonini', '2004-02-02', '10216', 'Shipped'),
 ('Daniel ', 'Tonini', '2004-10-11', '10304', 'Shipped'),
 ('Henriette ', 'Pfalzheim', '2003-11-20', '10191', 'Shipped'),
 ('Henriette ', 'Pfalzheim', '2004-10-16', '10310', 'Shipped'),
 ('Elizabeth ', 'Lincoln', '2004-04-02', '10235', 'Shipped'),
 ('Elizabeth ', 'Lincoln', '2004-08-20', '10283', 'Shipped'),
 ('Peter ', 'Franken', None, None, None),
 ('Anna', "O'Hara", '2003-09-11', '10148', 'Shipped'),
 ('Anna', "O'Hara", '2003-11-04', '10169', 'Shipped'),
 ('Anna', "O'Hara", '2005-01-20', '10370', 'Shipped'),
 ('Anna', "O'Hara", '2005-03-09', '10391', 'Shipped'),
 ('Giovanni ', 'Rovelli', '2003-02-17', '10106', 'Shipped'),
 ('Giovanni ', 'Rovelli', '2003-11-05', '10173', 'Shipped'),
 ('Giovanni ', 'Rovelli', '2004-11-12', '10328', 'Shipped'),
 ('Adrian', 'Huxley', '2003-07-16', '10139', 'Shipped'),
 ('Adrian', 'Huxley', '2004-07-19', '10270', 'Shipped'),
 ('Adrian', 'Huxley', '2004-12-17', '10361', 'Shipped'),
 ('Adrian', 'Huxley', '2005-05-29', '10420', 'In Process'),
 ('Marta', 'Hernandez', '2004-08-27', '10285', 'Shipped'),
 ('Marta', 'Hernandez', '2004-10-13', '10305', 'Shipped'),
 ('Ed', 'Harrison', None, None, None),
 ('Mihael', 'Holz', '2004-02-22', '10225', 'Shipped'),
 ('Mihael', 'Holz', '2004-08-30', '10287', 'Shipped'),
 ('Jan', 'Klaeboe', '2004-08-21', '10284', 'Shipped'),
 ('Jan', 'Klaeboe', '2003-10-05', '10301', 'Shipped'),
 ('Bradley', 'Schuyler', None, None, None),
 ('Mel', 'Andersen', None, None, None),
 ('Pirkko', 'Koskitalo', '2003-09-21', '10151', 'Shipped'),
 ('Pirkko', 'Koskitalo', '2004-04-12', '10239', 'Shipped'),
 ('Pirkko', 'Koskitalo', '2005-01-31', '10373', 'Shipped'),
 ('Catherine ', 'Dewey', '2004-02-18', '10221', 'Shipped'),
 ('Catherine ', 'Dewey', '2004-07-21', '10273', 'Shipped'),
 ('Catherine ', 'Dewey', '2005-05-30', '10423', 'In Process'),
 ('Steve', 'Frick', '2003-11-25', '10195', 'Shipped'),
 ('Steve', 'Frick', '2004-10-15', '10308', 'Shipped'),
 ('Wing', 'Huang', '2003-08-10', '10143', 'Shipped'),
 ('Wing', 'Huang', '2003-11-14', '10185', 'Shipped'),
 ('Wing', 'Huang', '2005-01-07', '10365', 'Shipped'),
 ('Julie', 'Brown', '2003-10-10', '10159', 'Shipped'),
 ('Julie', 'Brown', '2003-10-18', '10162', 'Shipped'),
 ('Julie', 'Brown', '2005-02-17', '10381', 'Shipped'),
 ('Julie', 'Brown', '2005-02-23', '10384', 'Shipped'),
 ('Mike', 'Graham', '2003-06-25', '10132', 'Shipped'),
 ('Mike', 'Graham', '2004-06-03', '10254', 'Shipped'),
 ('Mike', 'Graham', '2004-12-04', '10354', 'Shipped'),
 ('Mike', 'Graham', '2005-03-11', '10393', 'Shipped'),
 ('Mike', 'Graham', '2005-04-08', '10404', 'Shipped'),
 ('Ann ', 'Brown', '2003-06-12', '10129', 'Shipped'),
 ('Ann ', 'Brown', '2003-11-06', '10175', 'Shipped'),
 ('Ann ', 'Brown', '2004-12-03', '10351', 'Shipped'),
 ('William', 'Brown', '2004-03-29', '10233', 'Shipped'),
 ('William', 'Brown', '2004-05-18', '10251', 'Shipped'),
 ('William', 'Brown', '2005-04-03', '10401', 'On Hold'),
 ('Ben', 'Calaghan', '2003-09-25', '10152', 'Shipped'),
 ('Ben', 'Calaghan', '2003-11-06', '10174', 'Shipped'),
 ('Ben', 'Calaghan', '2005-02-02', '10374', 'Shipped'),
 ('Kalle', 'Suominen', '2003-08-01', '10141', 'Shipped'),
 ('Kalle', 'Suominen', '2004-05-05', '10247', 'Shipped'),
 ('Kalle', 'Suominen', '2005-01-06', '10363', 'Shipped'),
 ('Philip ', 'Cramer', None, None, None),
 ('Francisca', 'Cervantes', '2003-11-13', '10183', 'Shipped'),
 ('Francisca', 'Cervantes', '2004-10-14', '10307', 'Shipped'),
 ('Jesus', 'Fernandez', '2003-11-07', '10177', 'Shipped'),
 ('Jesus', 'Fernandez', '2004-03-19', '10231', 'Shipped'),
 ('Brian', 'Chandler', '2003-10-11', '10160', 'Shipped'),
 ('Brian', 'Chandler', '2004-01-09', '10209', 'Shipped'),
 ('Patricia ', 'McKenna', None, None, None),
 ('Laurence ', 'Lebihan', '2003-05-08', '10122', 'Shipped'),
 ('Laurence ', 'Lebihan', '2004-11-25', '10344', 'Shipped'),
 ('Laurence ', 'Lebihan', '2005-01-06', '10364', 'Shipped'),
 ('Paul ', 'Henriot', '2003-05-07', '10121', 'Shipped'),
 ('Paul ', 'Henriot', '2003-07-10', '10137', 'Shipped'),
 ('Paul ', 'Henriot', '2004-11-24', '10343', 'Shipped'),
 ('Paul ', 'Henriot', '2004-12-15', '10359', 'Shipped'),
 ('Paul ', 'Henriot', '2005-03-30', '10398', 'Shipped'),
 ('Armand', 'Kuger', None, None, None),
 ('Wales', 'MacKinlay', '2003-12-02', '10202', 'Shipped'),
 ('Wales', 'MacKinlay', '2004-06-16', '10260', 'Cancelled'),
 ('Wales', 'MacKinlay', '2005-04-29', '10410', 'Shipped'),
 ('Karin', 'Josephs', None, None, None),
 ('Juri', 'Yoshido', '2004-06-30', '10264', 'Shipped'),
 ('Juri', 'Yoshido', '2004-09-10', '10295', 'Shipped'),
 ('Juri', 'Yoshido', '2005-05-06', '10414', 'On Hold'),
 ('Dorothy', 'Young', '2003-01-06', '10100', 'Shipped'),
 ('Dorothy', 'Young', '2003-11-20', '10192', 'Shipped'),
 ('Dorothy', 'Young', '2004-11-04', '10322', 'Shipped'),
 ('Lino ', 'Rodriguez', None, None, None),
 ('Braun', 'Urs', None, None, None),
 ('Allen', 'Nelson', '2003-09-05', '10147', 'Shipped'),
 ('Allen', 'Nelson', '2004-07-21', '10274', 'Shipped'),
 ('Allen', 'Nelson', '2005-01-20', '10369', 'Shipped'),
 ('Pascale ', 'Cartrain', '2003-04-11', '10116', 'Shipped'),
 ('Pascale ', 'Cartrain', '2003-08-13', '10144', 'Shipped'),
 ('Pascale ', 'Cartrain', '2004-11-22', '10338', 'Shipped'),
 ('Pascale ', 'Cartrain', '2005-01-10', '10366', 'Shipped'),
 ('Georg ', 'Pipps', '2003-04-28', '10119', 'Shipped'),
 ('Georg ', 'Pipps', '2004-07-16', '10269', 'Shipped'),
 ('Georg ', 'Pipps', '2004-11-24', '10341', 'Shipped'),
 ('Georg ', 'Pipps', '2005-05-17', '10419', 'Shipped'),
 ('Arnold', 'Cruz', '2003-03-03', '10108', 'Shipped'),
 ('Arnold', 'Cruz', '2003-11-27', '10198', 'Shipped'),
 ('Arnold', 'Cruz', '2004-11-16', '10330', 'Shipped'),
 ('Maurizio ', 'Moroni', '2003-11-06', '10176', 'Shipped'),
 ('Maurizio ', 'Moroni', '2004-07-06', '10266', 'Shipped'),
 ('Maurizio ', 'Moroni', '2005-05-10', '10416', 'Shipped'),
 ('Akiko', 'Shimamura', '2004-06-15', '10258', 'Shipped'),
 ('Akiko', 'Shimamura', '2004-11-23', '10339', 'Shipped'),
 ('Akiko', 'Shimamura', '2005-01-26', '10372', 'Shipped'),
 ('Akiko', 'Shimamura', '2005-04-22', '10408', 'Shipped'),
 ('Dominique', 'Perrier', '2004-01-15', '10211', 'Shipped'),
 ('Dominique', 'Perrier', '2004-05-26', '10252', 'Shipped'),
 ('Dominique', 'Perrier', '2005-04-07', '10402', 'Shipped'),
 ('Rita ', 'Müller', None, None, None),
 ('Sarah', 'McRoy', '2004-03-30', '10234', 'Shipped'),
 ('Sarah', 'McRoy', '2004-07-12', '10268', 'Shipped'),
 ('Sarah', 'McRoy', '2005-05-16', '10418', 'Shipped'),
 ('Michael', 'Donnermeyer', '2004-09-15', '10296', 'Shipped'),
 ('Maria', 'Hernandez', '2003-04-04', '10115', 'Shipped'),
 ('Maria', 'Hernandez', '2003-10-20', '10163', 'Shipped'),
 ('Maria', 'Hernandez', '2004-11-21', '10337', 'Shipped'),
 ('Alexander ', 'Feuer', None, None, None),
 ('Dan', 'Lewis', '2003-06-16', '10131', 'Shipped'),
 ('Dan', 'Lewis', '2003-09-03', '10146', 'Shipped'),
 ('Dan', 'Lewis', '2004-12-04', '10353', 'Shipped'),
 ('Martha', 'Larsson', '2003-10-23', '10167', 'Cancelled'),
 ('Martha', 'Larsson', '2004-09-08', '10291', 'Shipped'),
 ('Martha', 'Larsson', '2005-03-03', '10389', 'Shipped'),
 ('Sue', 'Frick', '2004-05-11', '10250', 'Shipped'),
 ('Sue', 'Frick', '2004-06-14', '10257', 'Shipped'),
 ('Sue', 'Frick', '2005-04-01', '10400', 'Shipped'),
 ('Sue', 'Frick', '2005-04-22', '10407', 'On Hold'),
 ('Roland ', 'Mendel', '2003-10-21', '10164', 'Resolved'),
 ('Roland ', 'Mendel', '2003-11-04', '10170', 'Shipped'),
 ('Roland ', 'Mendel', '2005-03-10', '10392', 'Shipped'),
 ('Leslie', 'Murphy', '2003-11-26', '10196', 'Shipped'),
 ('Leslie', 'Murphy', '2004-05-04', '10245', 'Shipped'),
 ('Yu', 'Choi', '2004-04-20', '10242', 'Shipped'),
 ('Yu', 'Choi', '2004-11-03', '10319', 'Shipped'),
 ('Martín ', 'Sommer', '2003-05-28', '10126', 'Shipped'),
 ('Martín ', 'Sommer', '2004-01-26', '10214', 'Shipped'),
 ('Martín ', 'Sommer', '2004-11-01', '10348', 'Shipped'),
 ('Sven ', 'Ottlieb', None, None, None),
 ('Violeta', 'Benitez', '2003-10-21', '10166', 'Shipped'),
 ('Violeta', 'Benitez', '2004-11-04', '10321', 'Shipped'),
 ('Violeta', 'Benitez', '2005-03-03', '10388', 'Shipped'),
 ('Carmen', 'Anton', None, None, None),
 ('Sean', 'Clenahan', '2003-11-21', '10193', 'Shipped'),
 ('Sean', 'Clenahan', '2004-07-02', '10265', 'Shipped'),
 ('Sean', 'Clenahan', '2005-05-09', '10415', 'Disputed'),
 ('Franco', 'Ricotti', '2003-10-09', '10157', 'Shipped'),
 ('Franco', 'Ricotti', '2004-02-09', '10218', 'Shipped'),
 ('Steve', 'Thompson', '2003-12-01', '10199', 'Shipped'),
 ('Steve', 'Thompson', '2004-01-29', '10215', 'Shipped'),
 ('Hanna ', 'Moos', None, None, None),
 ('Alexander ', 'Semenov', None, None, None),
 ('Raanan', 'Altagar,G M', None, None, None),
 ('José Pedro ', 'Roel', '2003-11-14', '10184', 'Shipped'),
 ('José Pedro ', 'Roel', '2004-10-06', '10303', 'Shipped'),
 ('Rosa', 'Salazar', '2003-03-10', '10109', 'Shipped'),
 ('Rosa', 'Salazar', '2004-04-03', '10236', 'Shipped'),
 ('Rosa', 'Salazar', '2004-11-17', '10331', 'Shipped'),
 ('Sue', 'Taylor', '2003-09-12', '10149', 'Shipped'),
 ('Sue', 'Taylor', '2004-02-10', '10219', 'Shipped'),
 ('Thomas ', 'Smith', '2003-11-14', '10186', 'Shipped'),
 ('Thomas ', 'Smith', '2004-01-22', '10213', 'Shipped'),
 ('Valarie', 'Franco', '2003-12-09', '10207', 'Shipped'),
 ('Valarie', 'Franco', '2004-04-26', '10243', 'Shipped'),
 ('Tony', 'Snowden', '2003-07-07', '10138', 'Shipped'),
 ('Tony', 'Snowden', '2003-11-11', '10179', 'Cancelled'),
 ('Tony', 'Snowden', '2004-12-16', '10360', 'Shipped'),
 ('Tony', 'Snowden', '2005-04-01', '10399', 'Shipped')]

## Customers and their Payments (another One-to-Many join)

Return a list of customers first and last names along with details about their payments including the amount and date of payments. Sort these results in descending order by the payment amount.

In [7]:
c.execute("""SElECT contactFirstName, contactLastName, paymentDate, amount
            FROM customers
            LEFT JOIN payments
            USING(customerNumber)""").fetchall()

[('Carine ', 'Schmitt', '2003-06-05', '14571.44'),
 ('Carine ', 'Schmitt', '2004-10-19', '6066.78'),
 ('Carine ', 'Schmitt', '2004-12-18', '1676.14'),
 ('Jean', 'King', '2003-06-06', '32641.98'),
 ('Jean', 'King', '2004-08-20', '33347.88'),
 ('Jean', 'King', '2004-12-17', '14191.12'),
 ('Peter', 'Ferguson', '2003-05-20', '45864.03'),
 ('Peter', 'Ferguson', '2003-05-31', '7565.08'),
 ('Peter', 'Ferguson', '2004-03-10', '44894.74'),
 ('Peter', 'Ferguson', '2004-12-15', '82261.22'),
 ('Janine ', 'Labrune', '2004-08-08', '47924.19'),
 ('Janine ', 'Labrune', '2004-11-14', '19501.82'),
 ('Janine ', 'Labrune', '2005-02-22', '49523.67'),
 ('Jonas ', 'Bergulfsen', '2003-02-16', '50218.95'),
 ('Jonas ', 'Bergulfsen', '2003-10-28', '1491.38'),
 ('Jonas ', 'Bergulfsen', '2004-11-04', '17876.32'),
 ('Jonas ', 'Bergulfsen', '2004-11-28', '34638.14'),
 ('Susan', 'Nelson', '2003-04-11', '11044.30'),
 ('Susan', 'Nelson', '2003-08-15', '111654.40'),
 ('Susan', 'Nelson', '2003-11-25', '45084.38'),
 ('Susan', 'Nelson', '2004-03-26', '43369.30'),
 ('Susan', 'Nelson', '2004-08-28', '85410.87'),
 ('Susan', 'Nelson', '2004-11-02', '55639.66'),
 ('Susan', 'Nelson', '2004-12-27', '47142.70'),
 ('Susan', 'Nelson', '2005-03-05', '101244.59'),
 ('Susan', 'Nelson', '2005-04-16', '83598.04'),
 ('Zbyszek ', 'Piestrzeniewicz', None, None),
 ('Roland', 'Keitel', '2003-01-28', '10549.01'),
 ('Roland', 'Keitel', '2003-10-18', '24101.81'),
 ('Roland', 'Keitel', '2004-03-24', '33820.62'),
 ('Roland', 'Keitel', '2004-11-18', '7466.32'),
 ('Julie', 'Murphy', '2003-04-09', '16537.85'),
 ('Julie', 'Murphy', '2003-12-11', '23923.93'),
 ('Julie', 'Murphy', '2004-12-08', '26248.78'),
 ('Kwai', 'Lee', '2003-03-12', '22292.62'),
 ('Kwai', 'Lee', '2004-09-11', '35321.97'),
 ('Kwai', 'Lee', '2004-12-02', '50025.35'),
 ('Diego ', 'Freyre', '2003-02-25', '40206.20'),
 ('Diego ', 'Freyre', '2003-07-19', '36251.03'),
 ('Diego ', 'Freyre', '2003-10-26', '49539.37'),
 ('Diego ', 'Freyre', '2003-12-09', '63843.55'),
 ('Diego ', 'Freyre', '2004-01-30', '59830.55'),
 ('Diego ', 'Freyre', '2004-05-17', '26155.91'),
 ('Diego ', 'Freyre', '2004-07-09', '35420.74'),
 ('Diego ', 'Freyre', '2004-08-16', '20009.53'),
 ('Diego ', 'Freyre', '2004-11-01', '36140.38'),
 ('Diego ', 'Freyre', '2004-12-31', '116208.40'),
 ('Diego ', 'Freyre', '2005-03-18', '120166.58'),
 ('Diego ', 'Freyre', '2005-03-25', '65071.26'),
 ('Diego ', 'Freyre', '2005-05-19', '46895.48'),
 ('Christina ', 'Berglund', '2003-04-09', '7674.94'),
 ('Christina ', 'Berglund', '2004-12-12', '36005.71'),
 ('Jytte ', 'Petersen', '2003-02-20', '53959.21'),
 ('Jytte ', 'Petersen', '2004-04-26', '28211.70'),
 ('Jytte ', 'Petersen', '2004-07-03', '4710.73'),
 ('Jytte ', 'Petersen', '2004-12-01', '20564.86'),
 ('Mary ', 'Saveley', '2003-12-10', '39712.10'),
 ('Mary ', 'Saveley', '2004-01-16', '49614.72'),
 ('Mary ', 'Saveley', '2004-03-18', '40978.53'),
 ('Eric', 'Natividad', '2003-04-22', '44380.15'),
 ('Eric', 'Natividad', '2003-12-26', '105743.00'),
 ('Eric', 'Natividad', '2004-08-11', '2611.84'),
 ('Eric', 'Natividad', '2005-03-27', '3516.04'),
 ('Jeff', 'Young', '2003-06-18', '58841.35'),
 ('Jeff', 'Young', '2003-12-22', '58793.53'),
 ('Jeff', 'Young', '2004-07-26', '20314.44'),
 ('Jeff', 'Young', '2004-12-14', '39964.63'),
 ('Kelvin', 'Leong', '2004-09-07', '63357.13'),
 ('Kelvin', 'Leong', '2004-11-19', '35152.12'),
 ('Juri', 'Hashimoto', '2003-08-05', '38675.13'),
 ('Juri', 'Hashimoto', '2003-11-18', '50743.65'),
 ('Juri', 'Hashimoto', '2004-11-14', '2434.25'),
 ('Juri', 'Hashimoto', '2005-02-02', '12692.19'),
 ('Wendy', 'Victorino', '2004-02-28', '22474.17'),
 ('Wendy', 'Victorino', '2004-07-07', '44160.92'),
 ('Wendy', 'Victorino', '2004-09-16', '38785.48'),
 ('Veysel', 'Oeztan', '2003-12-03', '85024.46'),
 ('Veysel', 'Oeztan', '2004-09-19', '12538.01'),
 ('Keith', 'Franco', None, None),
 ('Isabel ', 'de Castro', None, None),
 ('Martine ', 'Rancé', '2003-11-22', '42783.81'),
 ('Martine ', 'Rancé', '2004-03-15', '18997.89'),
 ('Marie', 'Bertrand', '2003-04-20', '33383.14'),
 ('Marie', 'Bertrand', '2004-09-09', '1960.80'),
 ('Marie', 'Bertrand', '2004-12-04', '51209.58'),
 ('Jerry', 'Tseng', '2004-03-29', '20355.24'),
 ('Jerry', 'Tseng', '2004-05-13', '11843.45'),
 ('Julie', 'King', '2003-11-19', '24879.08'),
 ('Julie', 'King', '2004-07-10', '42044.77'),
 ('Julie', 'King', '2005-05-19', '28500.78'),
 ('Mory', 'Kentary', '2004-01-19', '47177.59'),
 ('Mory', 'Kentary', '2004-04-17', '15183.63'),
 ('Michael', 'Frick', '2003-01-30', '5494.78'),
 ('Michael', 'Frick', '2004-04-25', '22602.36'),
 ('Michael', 'Frick', '2004-11-16', '44400.50'),
 ('Matti', 'Karttunen', '2003-10-27', '37602.48'),
 ('Matti', 'Karttunen', '2004-10-21', '34341.08'),
 ('Matti', 'Karttunen', '2005-03-10', '23602.90'),
 ('Rachel', 'Ashworth', '2003-03-27', '48425.69'),
 ('Rachel', 'Ashworth', '2004-11-03', '52825.29'),
 ('Rachel', 'Ashworth', '2004-12-08', '47159.11'),
 ('Dean', 'Cassidy', '2004-03-01', '32538.74'),
 ('Dean', 'Cassidy', '2004-10-03', '17359.53'),
 ('Leslie', 'Taylor', '2003-07-06', '6036.96'),
 ('Leslie', 'Taylor', '2004-09-21', '5858.56'),
 ('Leslie', 'Taylor', '2004-12-06', '9658.74'),
 ('Elizabeth', 'Devon', '2003-10-20', '23908.24'),
 ('Elizabeth', 'Devon', '2004-06-15', '37258.94'),
 ('Yoshi ', 'Tamuri', '2003-12-18', '36527.61'),
 ('Yoshi ', 'Tamuri', '2004-11-08', '33594.58'),
 ('Miguel', 'Barajas', '2004-08-13', '51152.86'),
 ('Miguel', 'Barajas', '2004-09-24', '4424.40'),
 ('Julie', 'Young', '2003-09-05', '50342.74'),
 ('Julie', 'Young', '2003-12-04', '3879.96'),
 ('Julie', 'Young', '2005-02-06', '39580.60'),
 ('Brydey', 'Walker', None, None),
 ('Frédérique ', 'Citeaux', '2004-05-04', '36069.26'),
 ('Frédérique ', 'Citeaux', '2004-06-21', '4632.31'),
 ('Frédérique ', 'Citeaux', '2005-05-03', '35157.75'),
 ('Mike', 'Gao', '2003-12-09', '45480.79'),
 ('Eduardo ', 'Saavedra', '2003-05-09', '3101.40'),
 ('Eduardo ', 'Saavedra', '2003-12-14', '40473.86'),
 ('Eduardo ', 'Saavedra', '2004-12-06', '24945.21'),
 ('Mary', 'Young', '2003-10-18', '4465.85'),
 ('Mary', 'Young', '2005-03-02', '3452.75'),
 ('Horst ', 'Kloss', None, None),
 ('Palle', 'Ibsen', '2003-10-31', '36164.46'),
 ('Palle', 'Ibsen', '2004-11-02', '53745.34'),
 ('Jean ', 'Fresnière', '2003-11-18', '16909.84'),
 ('Jean ', 'Fresnière', '2004-07-01', '22997.45'),
 ('Jean ', 'Fresnière', '2005-05-20', '29070.38'),
 ('Alejandra ', 'Camino', None, None),
 ('Valarie', 'Thompson', '2004-03-15', '80375.24'),
 ('Helen ', 'Bennett', '2004-03-28', '24995.61'),
 ('Helen ', 'Bennett', '2004-11-16', '46788.14'),
 ('Annette ', 'Roulet', '2003-07-21', '14232.70'),
 ('Annette ', 'Roulet', '2003-11-22', '33818.34'),
 ('Annette ', 'Roulet', '2005-06-03', '12432.32'),
 ('Renate ', 'Messner', None, None),
 ('Paolo ', 'Accorti', '2004-09-04', '48298.99'),
 ('Paolo ', 'Accorti', '2004-09-19', '33924.24'),
 ('Daniel', 'Da Silva', '2003-07-18', '23419.47'),
 ('Daniel', 'Da Silva', '2004-12-30', '26311.63'),
 ('Daniel', 'Da Silva', '2005-05-17', '17928.09'),
 ('Daniel ', 'Tonini', '2004-02-10', '5759.42'),
 ('Daniel ', 'Tonini', '2004-10-22', '53116.99'),
 ('Henriette ', 'Pfalzheim', '2003-12-07', '27988.47'),
 ('Henriette ', 'Pfalzheim', '2004-11-06', '61234.67'),
 ('Elizabeth ', 'Lincoln', '2004-04-24', '29284.42'),
 ('Elizabeth ', 'Lincoln', '2004-08-30', '37527.58'),
 ('Peter ', 'Franken', None, None),
 ('Anna', "O'Hara", '2003-09-28', '41554.73'),
 ('Anna', "O'Hara", '2003-11-13', '38547.19'),
 ('Anna', "O'Hara", '2005-02-09', '27083.78'),
 ('Anna', "O'Hara", '2005-04-30', '29848.52'),
 ('Giovanni ', 'Rovelli', '2003-03-02', '52151.81'),
 ('Giovanni ', 'Rovelli', '2003-11-24', '37723.79'),
 ('Giovanni ', 'Rovelli', '2004-12-05', '37654.09'),
 ('Adrian', 'Huxley', '2003-08-03', '24013.52'),
 ('Adrian', 'Huxley', '2004-08-02', '35806.73'),
 ('Adrian', 'Huxley', '2005-01-03', '31835.36'),
 ('Marta', 'Hernandez', '2004-09-05', '43134.04'),
 ('Marta', 'Hernandez', '2004-10-28', '47411.33'),
 ('Ed', 'Harrison', None, None),
 ('Mihael', 'Holz', '2004-03-13', '47375.92'),
 ('Mihael', 'Holz', '2004-09-18', '61402.00'),
 ('Jan', 'Klaeboe', '2003-10-24', '36798.88'),
 ('Jan', 'Klaeboe', '2004-09-05', '32260.16'),
 ('Bradley', 'Schuyler', None, None),
 ('Mel', 'Andersen', None, None),
 ('Pirkko', 'Koskitalo', '2003-10-06', '32723.04'),
 ('Pirkko', 'Koskitalo', '2004-04-25', '16212.59'),
 ('Pirkko', 'Koskitalo', '2005-02-15', '46770.52'),
 ('Catherine ', 'Dewey', '2004-03-03', '16901.38'),
 ('Catherine ', 'Dewey', '2004-08-09', '45352.47'),
 ('Steve', 'Frick', '2003-12-07', '36092.40'),
 ('Steve', 'Frick', '2004-11-06', '42339.76'),
 ('Wing', 'Huang', '2003-08-20', '41016.75'),
 ('Wing', 'Huang', '2003-11-24', '52548.49'),
 ('Wing', 'Huang', '2005-01-18', '8307.28'),
 ('Julie', 'Brown', '2003-11-03', '85559.12'),
 ('Julie', 'Brown', '2005-03-15', '46781.66'),
 ('Mike', 'Graham', '2003-07-05', '2880.00'),
 ('Mike', 'Graham', '2004-06-24', '37281.36'),
 ('Mike', 'Graham', '2004-12-24', '39440.59'),
 ('Mike', 'Graham', '2005-05-23', '75020.13'),
 ('Ann ', 'Brown', '2003-07-07', '29429.14'),
 ('Ann ', 'Brown', '2003-11-23', '37455.77'),
 ('Ann ', 'Brown', '2004-12-13', '13671.82'),
 ('William', 'Brown', '2004-04-16', '7178.66'),
 ('William', 'Brown', '2004-05-30', '31102.85'),
 ('Ben', 'Calaghan', '2003-10-17', '9821.32'),
 ('Ben', 'Calaghan', '2003-11-15', '23936.53'),
 ('Ben', 'Calaghan', '2005-03-01', '21432.31'),
 ('Kalle', 'Suominen', '2003-08-16', '29716.86'),
 ('Kalle', 'Suominen', '2004-05-22', '28394.54'),
 ('Kalle', 'Suominen', '2005-01-27', '45785.34'),
 ('Philip ', 'Cramer', None, None),
 ('Francisca', 'Cervantes', '2003-11-28', '34606.28'),
 ('Francisca', 'Cervantes', '2004-10-24', '23333.06'),
 ('Jesus', 'Fernandez', '2003-11-24', '31428.21'),
 ('Jesus', 'Fernandez', '2004-04-02', '15322.93'),
 ('Brian', 'Chandler', '2003-10-24', '20452.50'),
 ('Brian', 'Chandler', '2004-01-18', '21053.69'),
 ('Patricia ', 'McKenna', None, None),
 ('Laurence ', 'Lebihan', '2003-05-25', '50824.66'),
 ('Laurence ', 'Lebihan', '2004-12-11', '18888.31'),
 ('Laurence ', 'Lebihan', '2005-01-29', '1834.56'),
 ('Paul ', 'Henriot', '2003-05-21', '16700.47'),
 ('Paul ', 'Henriot', '2003-07-21', '13920.26'),
 ('Paul ', 'Henriot', '2005-01-10', '49705.52'),
 ('Paul ', 'Henriot', '2005-06-09', '46656.94'),
 ('Armand', 'Kuger', None, None),
 ('Wales', 'MacKinlay', '2003-12-16', '20220.04'),
 ('Wales', 'MacKinlay', '2004-05-15', '36442.34'),
 ('Karin', 'Josephs', None, None),
 ('Juri', 'Yoshido', '2004-07-11', '18473.71'),
 ('Juri', 'Yoshido', '2004-09-21', '15059.76'),
 ('Dorothy', 'Young', '2003-01-16', '10223.83'),
 ('Dorothy', 'Young', '2003-12-05', '55425.77'),
 ('Dorothy', 'Young', '2004-11-17', '50799.69'),
 ('Lino ', 'Rodriguez', None, None),
 ('Braun', 'Urs', None, None),
 ('Allen', 'Nelson', '2003-09-16', '32680.31'),
 ('Allen', 'Nelson', '2004-08-02', '12530.51'),
 ('Allen', 'Nelson', '2005-02-12', '28322.83'),
 ('Pascale ', 'Cartrain', '2003-04-19', '1627.56'),
 ('Pascale ', 'Cartrain', '2003-08-22', '1128.20'),
 ('Pascale ', 'Cartrain', '2004-12-03', '12081.52'),
 ('Pascale ', 'Cartrain', '2005-02-03', '14379.90'),
 ('Georg ', 'Pipps', '2003-05-12', '35826.33'),
 ('Georg ', 'Pipps', '2004-08-01', '6419.84'),
 ('Georg ', 'Pipps', '2004-11-27', '42813.83'),
 ('Arnold', 'Cruz', '2003-03-09', '51001.22'),
 ('Arnold', 'Cruz', '2003-12-02', '20644.24'),
 ('Arnold', 'Cruz', '2004-11-19', '15822.84'),
 ('Maurizio ', 'Moroni', '2003-11-18', '38524.29'),
 ('Maurizio ', 'Moroni', '2004-07-18', '51619.02'),
 ('Akiko', 'Shimamura', '2004-06-21', '22037.91'),
 ('Akiko', 'Shimamura', '2004-11-29', '48927.64'),
 ('Akiko', 'Shimamura', '2005-02-14', '33967.73'),
 ('Akiko', 'Shimamura', '2005-05-18', '615.45'),
 ('Dominique', 'Perrier', '2004-01-28', '49165.16'),
 ('Dominique', 'Perrier', '2004-06-17', '25080.96'),
 ('Dominique', 'Perrier', '2005-04-23', '12190.85'),
 ('Rita ', 'Müller', None, None),
 ('Sarah', 'McRoy', '2004-04-14', '31670.37'),
 ('Sarah', 'McRoy', '2004-07-25', '35034.57'),
 ('Michael', 'Donnermeyer', '2004-09-28', '31310.09'),
 ('Maria', 'Hernandez', '2003-04-16', '21665.98'),
 ('Maria', 'Hernandez', '2003-10-31', '22042.37'),
 ('Maria', 'Hernandez', '2004-12-07', '25505.98'),
 ('Alexander ', 'Feuer', None, None),
 ('Dan', 'Lewis', '2003-06-25', '17032.29'),
 ('Dan', 'Lewis', '2003-09-15', '6631.36'),
 ('Dan', 'Lewis', '2004-12-17', '26304.13'),
 ('Martha', 'Larsson', '2004-09-30', '48809.90'),
 ('Martha', 'Larsson', '2005-04-18', '27966.54'),
 ('Sue', 'Frick', '2004-06-21', '59551.38'),
 ('Roland ', 'Mendel', '2003-11-15', '27121.90'),
 ('Roland ', 'Mendel', '2003-11-20', '15130.97'),
 ('Roland ', 'Mendel', '2005-05-03', '8807.12'),
 ('Leslie', 'Murphy', '2003-12-05', '38139.18'),
 ('Leslie', 'Murphy', '2004-05-12', '32239.47'),
 ('Yu', 'Choi', '2004-04-30', '1679.92'),
 ('Yu', 'Choi', '2004-11-13', '27550.51'),
 ('Martín ', 'Sommer', '2003-06-13', '57131.92'),
 ('Martín ', 'Sommer', '2004-02-06', '22162.61'),
 ('Martín ', 'Sommer', '2004-11-15', '33145.56'),
 ('Sven ', 'Ottlieb', None, None),
 ('Violeta', 'Benitez', '2003-11-08', '9977.85'),
 ('Violeta', 'Benitez', '2004-11-27', '48355.87'),
 ('Violeta', 'Benitez', '2005-04-15', '30293.77'),
 ('Carmen', 'Anton', None, None),
 ('Sean', 'Clenahan', '2003-12-10', '35505.63'),
 ('Sean', 'Clenahan', '2004-07-28', '9415.13'),
 ('Franco', 'Ricotti', '2003-10-27', '17746.26'),
 ('Franco', 'Ricotti', '2004-02-17', '7612.06'),
 ('Steve', 'Thompson', '2003-12-09', '7678.25'),
 ('Steve', 'Thompson', '2004-02-13', '36070.47'),
 ('Hanna ', 'Moos', None, None),
 ('Alexander ', 'Semenov', None, None),
 ('Raanan', 'Altagar,G M', None, None),
 ('José Pedro ', 'Roel', '2003-11-29', '47513.19'),
 ('José Pedro ', 'Roel', '2004-10-26', '3474.66'),
 ('Rosa', 'Salazar', '2003-03-20', '25833.14'),
 ('Rosa', 'Salazar', '2004-04-14', '5899.38'),
 ('Rosa', 'Salazar', '2004-11-23', '45994.07'),
 ('Sue', 'Taylor', '2003-09-28', '29997.09'),
 ('Sue', 'Taylor', '2004-02-29', '12573.28'),
 ('Thomas ', 'Smith', '2003-12-04', '22275.73'),
 ('Thomas ', 'Smith', '2004-01-31', '7310.42'),
 ('Valarie', 'Franco', '2003-12-26', '59265.14'),
 ('Valarie', 'Franco', '2004-05-14', '6276.60'),
 ('Tony', 'Snowden', '2003-07-16', '32077.44'),
 ('Tony', 'Snowden', '2004-12-31', '52166.00'),
 ('Tony', 'Snowden', '2005-05-25', '30253.75')]

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of customer first and last names, product names, quantities, and date ordered for each of the customers and each of their orders. Sort these in descending order by the order date.

Note: This will require joining 4 tables! This can be tricky! Give it a shot, and if you're still stuck, turn to the next section where you'll see how to write subqueries which can make complex queries such as this much simpler!

In [4]:
c.execute("""SElECT contactFirstName, contactLastName, productName, quantityOrdered, orderDate
            FROM customers
            LEFT JOIN orders
            USING(customerNumber)
            LEFT JOIN orderdetails
            USING(orderNumber)""").fetchall()

## Summary

In this lab, you practiced your knowledge on one-to-many and many-to-many relationships!